<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../static/css/index.css" type="text/css" media="screen" charset="utf-8"/>
<style type="text/css">
h1 {color:red}
p {color:blue}
#header{
width:900px;
}
#middle{
width:100%;
}
#middle #sidebar{
width:306px;
float:left;
hight:600px;
}
#middle #sidebar a{
display:block;
}
#middle #content{
width:594px;
float:left;
}
#footer{
width:900px;
clear:both;
}
</style>
<head>
<title>test page
</title>
</head>
<body>
<div id="header">
<img src="../../static/images/bookit_logo.png">
</div>
<div id="middle">
<div id="sidebar">
<a href="#">link 2</a>
<a href="#">link 3</a>
<a href="#">link 4</a>
</div>
<div id="content">
<p>一九五一年末，在《魔戒》与《精灵宝钻》已经完稿多时，而大西洋两岸仍迟迟不肯按托尔金的要求将两书同时出版：心焦的托尔金於是写了一封长达万言的信给美国出版商，阐明他创作这整个神话世界的缘起与故事始末：我从早年就对自己所爱之乡土没有属於自己的故事感到悲伤。希腊、罗马、塞尔特、德国、斯堪地那维亚、芬兰都有根植於自己语言的神话，唯独英文没有；亚瑟王的故事是英国的，不是英文的，因此无法取代我的失落感……。我要为英文写一则神话，一则遥远的传奇，以精灵的眼睛来看天地初开以降的一切事……。更重要的是，我要在这则神话中清楚明确地包含基督教的信仰。我相信所有的传奇与神话，如同所有的艺术，绝大部分是源自於“真相”（truth），却以隐约的方式反映出道德与宗教上的真理（或错误）。这些故事是全新的……是的，这些故事是全新的。在接下来的五十年中，这些故事享誉全球，代代相传，阅读人口以亿计算，一扫当年无人愿意出版的窘困。这两巨册神话中的《魔戒》，因为有哈比人，也因为完整易读，而得以在一九五四及五五年出版。但是耗尽托尔金毕生之力的《精灵宝钻》，一直拖到作者去世四年後的一九七七年才得问世，全球读者在看完《魔戒》後的惆怅与疑惑，那种好像不应该只有这样的感觉，终於得到纾解；然後，大家萌生了更多的问题，更多的想像，然後有了奇幻文学。
从这本融合了宇宙论、神话学以及悲剧的《精灵宝钻》，读者可以看见托尔金所架构的神话世界，其格局的恢弘精深，实在令人叹为观止。事实上，《精灵宝钻》在不得出版後，托尔金开始不断补述及改写，终其一生没有完成。托尔金的儿子克理斯多福在父亲去世後开始整理遗稿，他先按父亲遗愿编出了这本较完整的《精灵宝钻》，接著又陆续编出了《未完成的故事》（Unfinished Tales）以及十一本的中土世界的历史，有兴趣的读者不妨找来看看。
</p>
</div>
</div>
<div id="footer">footer</div>
<div>b</div>
<div>div1</div>
<div>div2</div>
</body>
</html>